* {
    margin: 0%;
    padding: 0%;
    justify-content: center;
}
body{
    background-image: url(../ProdDestacados/Libreria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-carrousel{
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 500px;
    border-radius: 5px;
    position: relative;
    top: 50;
    left: 40%;
}
.container-fluid{
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}
