:root{
  --primary-color: #1e1e1e; 
  --darkBlue: #0C356B;
  --bgColor: #F4F4F4;
  --purple: #5B1A8E;
  --white: #FFFFFF;
  --grey: #ECEBEB;
  --greyFont: #BAB1B1;
  --mainFont: 'PT Mono', monospace;
  --sideFont: 'PT Sans', sans-serif;
  --bgFont: 'Pragati Narrow', sans-serif;
 }
.bgCat {
  background-color: var(--primary-color);
}
.borderR {
  border: 2px solid #1C1F23;
}